/*---------- COLOR ----------*/
:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75); /* paragraphs */
  --very-light-gray: hsl(0, 0%, 95%); /* background, headings, buttons */
}

/*---------- FONT ----------*/
/*
font-family:'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
*/

/*---------- BASE ----------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--very-light-gray);
  font-size: 1.5rem;
  font-family: "Lexend Deca", sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/*---------- CARDS----------*/
.cards__container {
  display: flex;
  margin: 5rem;
  width: 92rem;
}

.cards {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  padding-right: 6rem;
}

.cards:nth-child(1) {
  border-radius: 10px 0 0 10px;
  background-color: var(--bright-orange);
}

.cards:nth-child(2) {
  background-color: var(--dark-cyan);
}

.cards:nth-child(3) {
  border-radius: 0 10px 10px 0;
  background-color: var(--very-dark-cyan);
}

/*---------- CARD CONTENT ----------*/
.icon {
  max-width: 6rem;
}

.cards__title {
  font-size: 3.5rem;
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  padding: 3rem 0;
}

.cards__text {
  color: var(--transparent-white);
  margin-bottom: 10rem;
}

.btn {
  display: inline-block;
  width: fit-content;
  text-align: center;
  text-decoration: none;
  background-color: var(--very-light-gray);
  border: 2px solid var(--very-light-gray);
  border-radius: 100px;
  padding: 1rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: transparent;
  color: var(--very-light-gray);
}

.btn-1 {
  color: var(--bright-orange);
}

.btn-2 {
  color: var(--dark-cyan);
}

.btn-3 {
  color: var(--very-dark-cyan);
}

/*---------- FOOTER ----------*/
.attribution {
  font-size: 1.1rem;
  text-align: center;
  color: var(--very-dark-cyan);
}
.attribution a {
  color: var(--dark-cyan);
}

/*---------- LESS THAN 944px ----------*/
@media (max-width: 59em) {
  .cards__container {
    flex-direction: column;
    max-width: 40rem;
  }

  .cards__text {
    margin-bottom: 3rem;
  }

  .cards:nth-child(1) {
    border-radius: 10px 10px 0 0;
  }
  .cards:nth-child(3) {
    border-radius: 0 0 10px 10px;
    background-color: var(--very-dark-cyan);
  }

  .btn {
    margin-bottom: 2rem;
  }
}
